/* html {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}

img {
    display: block;
    width: 20%;
}

figure
{
    background-color: #FF5F00;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    /* grid-template-rows: max-content 200px 1fr;
    gap : 90px;
    padding: 30px;
    padding-top: 10px;
} */ 

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body
{
    /* background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
    background-color: #69b7eb;
    animation: change-background 4s ease infinite;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}




header
{
    
    margin: 0px;
    color: rgb(4, 27, 25);
    text-align: center;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 2px;
    
  }
  
  a:link {
    color: #265301;
    border: 1px solid;
    border-color: red;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
  a:active {
    border-bottom: 1px solid;   
    background: #ff1111;
    color: #CDFEAA;
  }

img
{
    
     width:100%;
     max-width:400px;
}
div {
    font-size: 20px;
    font-style: italic;
}
main
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h1
{
    margin: 0px;
    padding: 0px;
}

figure
{   
    background-color: hsl(185, 100%, 88%);
    padding: 30px;
    padding-top: 10px;
    border: 5px rgba(246, 143, 0, 0.644);
    border-radius: 10px;
    min-width: 100px;
    max-width: 200px;
    /* box-shadow: 10px 5px 5px rgb(0, 0, 0); */
    -webkit-box-shadow: 1px 3px 26px 18px rgba(37,255,225,0.36); 
box-shadow: 1px 3px 26px 18px rgba(37,255,225,0.36);
}

.button {

    border-radius: 10px;
    border: 10px;
    padding: 10px;
    width: 10px;
}
figure:hover {
    transform:scale(1.10);
    transition: background-color 0.5s ease;

}

@keyframes change-background {
    0% {
      background: #69b7eb;
    }
    50% {
      background: #b3dbd3;
    }
    100% {
      background: #69b7eb;
    }
  }